DATABASE_URL=postgres://boyashop:boyashop@boyashop_database:5432/boyashop?sslmode=disable
GOOGLE_SHEET_WEBHOOK_URL=
FACEBOOK_CAPI_TOKEN=
TIKTOK_CAPI_TOKEN=
SNAPCHAT_CAPI_TOKEN=
FACEBOOK_PIXEL_ID=
TIKTOK_PIXEL_ID=
SNAPCHAT_PIXEL_ID=
SECRET_KEY=
DOMAIN=api.boya-shop.online
